<h1>Create a post
<%= link_to "Home", root_path, :class => 'pull-right btn btn-primary'%></h1>
<br><hr>

<%= form_for :post do |f| %>
 <%= f.text_field :title, placeholder: "Title"%><br>
 <%= f.url_field :link, placeholder: "Link"%><br><br>
 <%=f.submit 'Submit'%>
<% end %>

