<h1>All the posts</h1>

<%= link_to "Add post", add_path, :class => 'btn btn-primary'%>
<%= link_to "Log Out", logout_path, :class => 'btn btn-primary'%>

<div class="list-group">
<% @posts.each do |post|%>

<a href="<%=post.link%>" class="list-group-item"><%=post.title%> <br>Posted by <%=post.user.name%> <br>At <%=post.created_at%></a>

<%end%>
</div>

